@model ConnectedViewModel

@{
    ViewData["Title"] = "Connected";
}

<div class="text-center">
    <h1 class="display-4">Connected</h1>

    <!-- Mostrar la IP procesada -->
    <p>Reader IP: @Model.ReaderIp</p>
</div>
